@keyframes anima {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.anima {
  transform: translateY(-10px);
  opacity: 0;
  animation: anima 500ms ease forwards;
}

.icon-2 {
  svg {
    min-width: 23px;
    min-height: 23px;
  }
}

.icon-3 {
  svg {
    width: 23px;
    height: 23px;
  }
}